
{{#partial "principal" }}

<div>
    <h2>{{guardarropas.nombre}}</h2>

    <h3>Prendas:</h2>
    <ol>
      {{#guardarropas.prendas}}
        <li>
            <strong>{{nombre}}</strong>
        </li>
      {{/guardarropas.prendas}}
    </ul>
</div>

{{/partial}}

{{> layout.html.hbs }}