
{{#partial "principal" }}

<div>
    <h2>Tus guardarropas:</h2>

    <ol>
      {{#guardarropas}}
        <li>
            <strong><a href="/guardarropas/{{id}}">
                {{nombre}}
            </a></strong>
        </li>
      {{/guardarropas}}
    </ul>
</div>

{{/partial}}

{{> layout.html.hbs }}