{{#partial "principal" }}

<div>
    <h2>QUÉ ME PONGO 🧢❓️</h2>
    <p>
        Organiza tus prendas en múltiples guardarropas para cada ocasión. Desde looks diarios hasta conjuntos para eventos especiales, tené todo al alcance de tu mano. Simplificá tu vida y descubrí la comodidad de vestirte con estilo, donde sea que estés, con nuestra aplicación web de organización de moda.
    </p>
</div>

{{/partial}}

{{> layout.html.hbs }}