{{#partial "principal" }}

<div>
    <h2>Descripción del sitio</h2>

    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida ornare est eu iaculis. Nullam varius nisi ac dolor condimentum consectetur. Aenean pulvinar nunc eu eleifend consectetur. Mauris eros nibh, aliquam vel lectus sed, laoreet maximus turpis. Nullam ac augue quis risus commodo viverra eu sed erat. Curabitur id pharetra orci. Fusce tortor enim, auctor at fermentum posuere, venenatis in eros. Integer viverra varius nulla vitae tristique. Praesent odio diam, hendrerit vel arcu a, porta consequat sapien. Aenean vulputate nec odio eget eleifend.
    </p>
</div>

{{/partial}}

{{> layout.html.hbs }}